html, body{
    height: 100%;
    background-color: black;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
*{
    font-family: 'Spectral', serif;
    font-size: large;
}
.gold{
    color: gold;
    background-color: black;
    padding: 1vw;
}
.right{
   float: right;
   opacity: .7;
}
#first{
    color: red;
    font-size: xx-large;
}
#goldfirst{
    color: gold;
    font-size: xx-large;
}
#coralfirst{
    color: coral;
    font-size: xx-large;
}
#bluefirst{
    color: royalblue;
    font-size: xx-large;
}

#purplefirst{
    color: purple;
    font-size: xx-large;
}
#orangefirst{
    color: orange;
    font-size: xx-large;
}
#greenfirst{
    color: green;
    font-size: xx-large;
}
.tiny{
    max-width: 200px;
    max-height: 50px;
}
#foot{
    background-color: rgb(255, 255, 255);
    padding: 1vw;
}

.special{
    display: inline-block;
}
.texzt{
    background-color: rgb(255, 255, 255);
    padding: 1vw;
}
#left{
    /* background-color: purple; */
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: 100%;
    display: inline-block;
}
#right{
    color: orange;
    max-width: 100%;
    height: 100%;
    display: inline-block;
}
.feature{
    max-width: 100%;
}
#banner{
    background-color: rgba(146, 25, 25, 0.116);
    max-height: 50px;
}
.parallax{
    background-image: url("../img/jj1.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
    max-width: 100%;
}
.parallaxfeature{
    background-image: url("../img/waddle.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
    max-width: 100%;
}
.parallaxfeature2{
    background-image: url("../img/justinherbert.jpeg");
    height: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
    max-width: 100%;
}
.parallaxfeature3{
    background-image: url("../img/markandrews.jpeg");
    height: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
    max-width: 100%;
}
.parallaxfeature4{
    background-image: url("../img/diggs.jpeg");
    height: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: gold;
    padding: 1vw;
    border-radius: 1vw;
}
a:hover{
    color: black;
}
.real a{
    text-decoration: none;
    color: gold;
    background-color: black;
    padding: 1vw;
    border-radius: 1vw;
}
.real a:hover{
    color: black;
}
.parallax2{
    background-image: url("../img/kupp\ copy.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3{
    /* background-image: url("../img/henry.jpg"); */
    background-image: url("../img/cd1.jpg");

    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.parallax4{
    background-image: url("../img/pat.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax5{
    background-image: url("../img/ak.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax6{
    background-image: url("../img/travis.jpeg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.parallax7{
    background-image: url("../img/najee.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax8{
    background-image: url("../img/joe.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax9{
    background-image: url("../img/justin.jpeg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax10{
    background-image: url("../img/draft2022.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax11{
    background-image: url("../img/cmc.jpeg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.devon{
    background-image: url("../img/swift.jpeg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.seif{
    background-image: url("../img/higgins.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ernie{
    background-image: url("../img/kupp\ copy.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dkazz{
    background-image: url("../img/ak.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.charlie{
    background-image: url("../img/lamar.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.michael{
    background-image: url("../img/hurts.jpeg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
}
.pikachu{
    color: orange;
}
p{
    color: rgba(24, 23, 23, 0.918);
}
.team{
    padding: 1vw;
    color: gold;
}
.secret2{
    opacity: 0;
}
@media only screen and (max-device-width: 1366px) {
    .secret2{
        opacity: 1;
    }
    .burger{
        display: flex;
        float: none;
    }
    .tiny{
        float: left;
    }
    .right{
        float: left;
    }
    ul{
        display: flex;
        max-width: 50%;
        background-color: navy;
        float: left;
        overflow: auto;
    }
    ul li{
        background-color: purple;
        color: white;
        padding: .5vw;
        display: inline-block;
    }
    .parallax {
      background-attachment: scroll;
      background-size: cover;
      background-position: -200px;
    }
    .parallaxfeature{
        background-attachment: scroll;
    }
    .parallaxfeature2{
        background-attachment: scroll;
    }
    .parallaxfeature3{
        background-attachment: scroll;
    }
    .parallaxfeature4{
        background-attachment: scroll;
    }
    .parallax2 {
        background-attachment: scroll;
      }
      .parallax3 {
        background-attachment: scroll;
      }
      .parallax4 {
        background-attachment: scroll;
      }
      .parallax5 {
        background-attachment: scroll;
      }
      .parallax6 {
        background-attachment: scroll;
      }
      .parallax7 {
        background-attachment: scroll;
      }
      .parallax8 {
        background-attachment: scroll;
      }
      .parallax9 {
        background-attachment: scroll;
      }
      .parallax10 {
        background-attachment: scroll;
      }
      .parallax10 {
        background-attachment: scroll;
        background-size: contain;
      }
      .parallax11 {
        background-attachment: scroll;
      }
      .devon {
        background-attachment: scroll;
      }
      .dkazz{
        background-attachment: scroll;
      }
      .seif{
        background-attachment: scroll;
      }
      .ernie{
        background-attachment: scroll;
      }
      .charlie{
        background-attachment: scroll;
    }
    .michael{
        background-attachment: scroll;
    }
      .secret{
          display: none;
      }
  }
  .real a:hover{
    color: black;
}
.real a{
    background-color: black;
}
.impact{
    background-color: black;
    color: gold;
    display: inline-block;
    border-radius: 1vw;
    padding: .5vw;
}
.question{
    background-color: red;
    color: white;
    display: inline-block;
    border-radius: 1vw;
    padding: .5vw;
}

.rank{
    margin: 0;
    padding: none;
    color: paleturquoise;
    background-color: black;
    padding: 1vw;
    border-radius: 1vw;
    opacity: .5;
}
.rank h1, h2, h3{
    display: inline-block;
    padding-right: 4vw;
    padding-top: none;
    padding-bottom: none;
    margin: none;
}
.rank h1{
    font-size: 10vw;
}
.record{
    font-family: cursive;
}

@keyframes truth {
    10%{
        opacity: .03;
    }
    25%{
        opacity: .2;
    }
    40%{
        opacity: .4;
    }
    50%{
        opacity: .5;
    }
    70%{
        opacity: .7;
    }
    100%{
        opacity: .85;
    }
}

.burger{
    opacity: .1;
    animation: truth 7s;
    animation-fill-mode: forwards;
}
.burger:hover{
    animation: none;
    opacity: 1;
}
.burger div{
    background-color: rgb(177, 165, 165);
    width: 34px;
    height: 6px;
    margin: 5px;
}
.burger div:hover{
    background-color: white;
}
.super{
    display: none;
}
.perfect h2{
    font-size: xx-large;
}
ul{
    list-style: none;
    background-color: white;
}
ul a{
    cursor: cell;
    color: black;
}


@keyframes bolt {
    10%{
        opacity: .5;
        color: turquoise;
    }
    25%{
        opacity: .5;
        color: gold;
    }
    40%{
        opacity: .4;
        color: aqua;
    }
    50%{
        opacity: .5;
        color: silver;
    }
    70%{
        opacity: .7;
        color: rgb(34, 130, 139);
    }
    100%{
        opacity: .85;
    }
}
ul a:hover{
    color: silver;
    animation: bolt 7s infinite;
}