.sky{
    color: rgb(98, 204, 114);
}

body{
    padding: none;
    margin: 0 auto;
    background-color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 300; /* Light weight */
}

#vivid{
    padding: 5vw;
    font-size: 28px;
    color: white;
    text-align: center;
}

.purple{
    color: rgb(227, 100, 247);

}
.wheat{
    color: wheat;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid plum; */
}

/* .video-wrapper iframe {
  width: 560px;
  max-width: 90vw;
  height: 315px;
  border: 1px solid wheat;

} */
/*
animation purple and gold around iframe
*/

@keyframes borderPulse {
  0% {
    border-color: purple;
    box-shadow: 0 0 10px purple;
  }
  50% {
    border-color: gold;
    box-shadow: 0 0 15px gold;
  }
  100% {
    border-color: purple;
    box-shadow: 0 0 10px purple;
  }
}

.video-wrapper iframe {
  width: 560px;
  max-width: 90vw;
  height: 315px;
  border: 5px solid purple;
  animation: borderPulse 3s infinite ease-in-out;
  border-radius: 8px; /* optional */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* optional: center the image */
}
.red{
    color: crimson;
}
audio{
    opacity: .5;
}
ol{
    text-align: left;
}
a{
    /* text-decoration: none; */
    color: plum;
}
a:hover{
    color: blue;
}