html,body{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
}
.card{
    max-width: 100%;
    max-height: 500px;
}
.card2{
    display: inline-block;
    max-width: 40%;
    max-height: 300px;
}
.clear{
    color: whitesmoke;
    font-size: 3vw;
    background-color: rgba(0, 0, 0, 0.726);
    border-radius: 2vw;
    padding: 1vw;
    display: inline-block;
}
.formulaic{
    max-width: 100%;
}
.formulaic2{
    max-width: 100%;
}
.move{
    padding: 2vw;
    background-color: rgba(255, 218, 185, 0.521);
    display: inline-block;
}
.red{
    background-color: rgba(190, 7, 7, 0.616);
}
.blue{
    background-color: rgba(7, 34, 190, 0.616);
}
.gold{
    background-color: rgba(190, 156, 7, 0.616);
}
.dark{
    background-color: rgba(20, 21, 24, 0.466);
}
.purple{
    background-color: rgba(159, 7, 190, 0.616);
}
.greeen{
    background-color: rgba(7, 190, 38, 0.616);
}

.supermove{
    display: inline-block;
    border: .1vw solid gold;
}
.supermove:hover{
    display: inline-block;
    border: .4vw solid rgb(0, 255, 55);
}
.pic{
    max-width: 100%;
    max-height: 600px;
    padding: 0;
}
html{
    /* color: greenyellow; */
    color: gold;

    text-align: center;
    /* background-image: url("../img/eli10.jpg"); */
    background-image: url("../img/pinkachu.png");

    background-size: contain;
}
.hide{
    display: none;
    color: blue;
}
@keyframes pauser{
    20% {
        background-color: rgba(255, 217, 0, 0.609);
    }
    40%{
        background-color: rgba(255, 192, 203, 0);
    }
    70%{
        background-color: rgba(192, 192, 192, 0.466);
    }
    80%{
        background-color: rgba(127, 255, 212, 0);
    }
}


.btn{
    max-height: 20vw;
    max-width: 20vw;
    height: 200px;
    width: 200px;
    color: gold;
    /* background-color: rgba(255, 217, 0, 0.178); */
    background-color: rgba(204, 213, 219, 0);
    border-radius: 17vw;
    animation: pauser 10s infinite;
}


#deck{
    padding-bottom: 1vw;
}






a{
    text-decoration: none;
    color: gold;
}
a:hover{
    text-decoration: none;
    color: silver;
}

.xy{
    display: inline-block;
}
.gold{
    color: gold;
    background-color: rgba(0, 0, 0, 0.52);
    border-radius: 2vw;
}
.silver{
    color: silver;
    background-color: rgba(0, 0, 0, 0.52);
    border-radius: 2vw;
}
.gold:hover{
    color: silver;
}

@keyframes elam{
    20% {
        border-color: rgba(128, 0, 128, 0.795);
    }
    40%{
        border-color: rgba(255, 192, 203, 0.705);
    }
    60%{
        border-color: rgba(0, 255, 255, 0.883);
    }
    80%{
        border-color: rgba(255, 217, 0, 0.822);
    }
}

@keyframes ellie{
    20%{
        color: silver;
    }
    40%{
        color: aqua;
    }
    60%{
        color: aquamarine;
    }
    80%{
        color: cyan;
    }
}
.dj{
    border: .1vw solid silver;
    animation: elam 7s infinite;
}
#info{
    padding-bottom: 1vw;
    overflow: auto;
    max-height: 20vw;
}
p{
    animation: ellie 5s infinite;
}
