*{
    font-family: 'Spectral', serif;
}
html{
    background-image: url("../img/god.jpeg");
    background-size: contain;
}
html, body{
    margin: 0;
    padding: 0;
}
.vid{
    max-width: 100%;
    width: 600px;
}
#heading{
    text-align: center;
}
#collage{
    height: auto;
    width: 100%;
}
#reviews h2{
    text-align: center;
}
#rapper{
    margin: 0 auto;
    line-height: 10vw;
    padding-top: 2px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    color: rgba(255, 255, 255, 0.808);
    text-align: center;
}
#rapper10{
    margin: 0 auto;
    padding-top: 2px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    background-image: url("../img/ellie.jpg");
    background-size: contain;
    color: aqua;
    text-align: center;
}
.option{
    display: inline-block;
    padding: 1vw;
}
#nav{
    background-color: rgba(75, 0, 71, 0.212);
    width: 100%;
}

p a{
    color: plum;
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 1vw;
    padding: 1vw;
}
a{
    text-decoration: none;
    font-style: italic;
    color: rgb(251, 151, 0);
    cursor: cell;
}
a:hover{
    color: gold
}
#nav a:hover{
    color: black;
    font-weight: bold;
}
.current{
    font-weight: bold;
}
#poem{
    text-align: center;
}
#nav{
    text-align: center;
}
.pic{
    max-width: 100%;
}
.genre{
    display: inline-block;
    position: relative;
    top: 13vw;
    padding: 3ch;
}
.genre a{
    color: aqua;
}
.genre a:hover{
    color: forestgreen;
    cursor: cell;
}
#dev a{
    color: aqua;
}
#dev a:hover{
    color: rgb(238, 18, 238);
}
#dev{
    height: 1300px;
    overflow:auto;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.185);
    margin: 2vw;
    max-width: 100%;
}
#dev2{
    height: 800px;
    overflow: auto;
    padding-bottom: 1vw;
}
#dev2 p{
    padding-top: 20vw;
    font-size: larger;
}
.i{
    font-style: italic;
}
#game{
    max-width: 100%;
    max-height: 100%;
}
.game h5{
    display: inline-block;
    padding: 1vw;
}
.game h5:hover{
    color: pink;
    cursor: cell;
}
.clear{
    background-color: rgba(0, 0, 0, 0.431);
    border-radius: 1vw;
    padding: 1vw;
}
.name{
    color: rgba(228, 215, 231, 0.685);
}