*{
    font-family: 'Nunito', sans-serif;
}
h1{
    color: purple;
}
img{
    max-width: 100%;
}
.top{
    text-align: center;
}
body{
    margin: 0 auto;
    padding: 7vw;
    padding-top: 0;
}
a{
    text-decoration: none;
}
a:hover{
    color: white;
    background-color: plum;
    padding: 1vw;
    border-radius: 1vw;
}