*{
    font-family: 'Nunito', sans-serif;
}
h1{
    color: rgb(162, 208, 246);
}
img{
    max-width: 100%;
}
.top{
    text-align: center;
}
body{
    margin: 0 auto;
    padding: 7vw;
    padding-top: 0;
    background-color: black;
}
a{
    color: wheat;
    text-decoration: none;
}
a:hover{
    color: rgb(80, 249, 255);
}
.vid{
    max-width: 560px;
}
p{
    color: aliceblue;
}
