#songs{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.song{
    background-color: rgba(255, 217, 0, 0.623);
    padding: 1vw;
    margin: 3vw;
    border-radius: 1vw;
}
.song2{
    background-color: rgba(212, 0, 255, 0.623);
    padding: 1vw;
    margin: 3vw;
    border-radius: 1vw;
}
.pic{
    max-width: 100%;
    max-height: 600px;
}
.songsub{
    color: white;
    background-color: rebeccapurple;
    display: inline-block;
    border-radius: 1vw;
    opacity: .4;
}
@keyframes elamef {
    0%{
        color: gold;
    }
    25%{
        color: silver;
    }
    0%{
        color: rgb(4, 0, 255);
    }
    25%{
        color: rgb(188, 0, 245);
    }
}
h1{
    text-align: center;
    animation: elamef 7s infinite;
}
.song:hover{
    cursor: url(../img/note2.png), auto;
}
a{
    text-decoration: none;
}
a h1:hover{
    color: black;
}