*{
    font-family: 'Spectral', serif;
}
html{
    background-image: url("../img/ellie.jpg");
    background-size: contain;
}
html, body{
    margin: 0;
    padding: 0;
}
.vid{
    max-width: 100%;
    width: 600px;
}
#heading{
    text-align: center;
}
#collage{
    height: auto;
    width: 100%;
}
#reviews h2{
    text-align: center;
}
#rapper{
    margin: 0 auto;
    padding-top: 2px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    color: aqua;
    text-align: center;
    height: 100ch;
}
.option{
    display: inline-block;
    padding: 1vw;
}
#nav{
    background-color: rgb(43, 226, 156, 0.363);
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
    cursor: cell;
}
a:hover{
    color: gold
}
#nav a:hover{
    color: beige;
    font-weight: bold;
}
.current{
    font-weight: bold;
}
#poem{
    text-align: center;
}
#nav{
    text-align: center;
}
.pic{
    max-width: 100%;
}
.genre{
    display: inline-block;
    position: relative;
    top: 13vw;
    padding: 3ch;
}
.genre a{
    color: aqua;
}
.genre a:hover{
    color: forestgreen;
    cursor: cell;
}