html,body .ernie{
    background-color: white;
}
html,body .parallax5{
    background-color: black;
}    .verse{
    border: solid gold .2vw;
    padding: 1vw;
    margin: 1vw;
    /* color: pink; */
}
html,body .parallaxteroh{
    background-color: black;
}    .verse{
    border: solid gold .2vw;
    padding: 1vw;
    margin: 1vw;
    /* color: pink; */
}

html,body .parallax6{
    background-color: black;
}
html,body .parallax3new{
    background-color: black;
}
html,body .texztblack{
    background-color: black;
}
html,body .texztwhite{
    background-color: white;
}
html,body .parallaxnew{
    background-color: black;
}
html,body .parallaxlight{
    background-color: black;
}
html,body .teroh0{
    background-color: black;
}
html,body .teroh1{
    background-color: black;
}
html,body .teroh2{
    background-color: black;
}
html,body .teroh3{
    background-color: black;
}
html,body .teroh4{
    background-color: black;
}
html,body .teroh5{
    background-color: black;
}
html,body .teroh6{
    background-color: black;
}
html, body{
    height: 100%;
    background-color: black;
    /* background-image: url("../img/test.png"); */
    background-size: cover;
    background-position: 11.7px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    /* background-color: rgba(245, 245, 245, 0.65); */
}
*{
    font-family: 'Nunito', sans-serif;
    font-size: large;
    font-size: 18.117px;
    /* font-weight: bold; */
}
#plum a{
    /* color: rgb(247, 165, 247); */
    color:wheat;
}
#plum a:hover{
    color: plum;
}
.gold a{
    padding: 0;
}
.hey{
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(0, 0, 255, 0.4);
}
.hey h2{
    font-size: 5ch;

}
.code a{
    background-color: black;
    color: rgb(130, 236, 236);
}
.code2 a{
    background-color: black;
    color: rgb(130, 236, 236);
}
canvas {
    display:block;
    position: absolute;
    opacity: .3117;
    cursor: not-allowed;
    pointer-events: none;
}
.songimg{
    display: inline-block;
}
.picalu{
    max-width: 100%;
    height: 200px;
}
.picalu2{
    max-width: 100%;
    height: 200px;
}
.life{
    display: inline-block;
}
.king{
    color: wheat;
    text-align: center;
    font-size: larger;
}
.pic{
    max-width: 100%;
}
.piccy{
    max-width: 100%;
    max-height: 600px;
}
.piclam{
    max-width: 100%;
    max-height: 700px;
}
.picxy{
    max-width: 100%;
    text-align: center;
    /* background-color: pink; */
    background: linear-gradient(rgba(255, 192, 203, 0.761),rgba(0, 0, 255, 0.738),rgba(255, 166, 0, 0.819));
    margin: 0;
}
.car{
    max-width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
}
.picxxyy{
    max-width: 100%;
    text-align: center;
    /* background-color: pink; */
    /* background: linear-gradient(rgba(255, 192, 203, 0.761),rgba(0, 0, 255, 0.738),rgba(255, 166, 0, 0.819)); */
    /* background: linear-gradient(rgba(255, 192, 203, 0.761),rgba(0, 0, 255, 0.738),rgba(255, 166, 0, 0.819)); */


    margin: 0;
}
.picxyx{
    max-width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
}
.elam{
    /* background-color: forestgreen; */
    /* background: linear-gradient(green,violet,red); */
    background: linear-gradient(45deg, red, blue);
    color: white;
}
.elam:hover{
    color: gold;
}
.wbc{
    
    color: white;
/*    background-color: rgba(220, 20, 60, 0.924);*/
    background-color: rgba(22, 23, 260, 0.924);

}
.wbc:hover{

    border-radius: 100vw;
    
    background-color: wheat;
    color: red;
}
.wbc2{
    background-color: blue;
    color: azure;
}
.wbc2:hover{
    color: blue;
    background-color: azure;
    border-radius: 100vw;
}
.bulba{
    /* background-color: forestgreen; */
    /* background-color:rgb(192, 165, 95); */
    background-color:rgb(221, 193, 122);


color: black;
    /* color: gold; */
}
.bulba:hover{
    color: beige;
}
.pika{
    background-color: rgba(0, 0, 0, 0.675);
    color: white;
}
.pika:hover{
    color: gold;
}
.gold{
    color: gold;
    background-color: black;
    padding: 1vw;
    margin-bottom: -.117vw;
}
#birds a{
    color: gold;
}
.vid{
    max-width: 100%;
}
.vidx{
    max-width: 100%;
    opacity: .7;
}
#dishonest{
    color: red;
    border-radius: 1vw;
    padding: 1vw;
}
#dishonest:hover{
    color: rgb(118, 3, 233);
}
.right{
   float: right;
   opacity: .7;
}
#first{
    color: coral;
    font-size: xx-large;
}
.customsong{
    /* background-color: gainsboro; */
    color: black;
    display: inline-block;
    border-radius: 2vw;
    text-align: center;
}
.customsong h5 {
    padding: 0;
    margin: 0 auto;
}
.customsong p{
    padding: .2vw;
    margin: 0 auto;
}
.songx{
    /* background-color: rgba(0, 0, 0, 0.701); */
    background-color: skyblue;
    color: black;
    /* color: gold; */
    /* border-radius: 1vw; */
    /* padding: 1vw; */
}
.songxx{
    /* background-color: rgba(0, 0, 0, 0.701); */
    background-color: rgba(225, 135, 235, 0.692);

    color: black;
    /* color: gold; */
    border-radius: 1vw;
    padding: 1vw;
}
.songy{
    background-color: rgb(0, 21, 2);
    color: rgb(217, 129, 255);
    /* border-radius: 1vw; */
    /* padding: 1vw; */
}
.songyyy{
    background-color: black;
    color: gold;
    border-radius: 1vw;
    padding: 1vw;
}
#goldfirst{
    color: rgb(255, 230, 0);
    animation: rainbow 7s infinite;
    background-color: rgba(0, 0, 0, 0.87);

    font-size: xx-large;    
    border-radius: 1vw;
    padding: .35vw;
    padding-right: .2vw;
}
#bluefirst{
    color: royalblue;
    font-size: xx-large;
}

#purplefirst{
    color: skyblue;
    font-size: xx-large;
}
#violetfirst{
    color: violet;
    font-size: xx-large;
}
#orangefirst{
    color: orange;
    font-size: xx-large;
}
#greenfirst{
    color: green;
    font-size: xx-large;
}
.tiny{
    max-width: 200px;
    max-height: 50px;
}

#foot{
    background-color: rgba(255, 255, 255, 0.117);
    padding: 0vw;
}

.special{
    display: inline-block;
}
.white{
    /* background-color: rgba(108, 214, 15, 0.916);
     */
    /* background-color: black; */
    background-image: url(../img/knight.jpg);
    background-size: contain;
    /* color: white; */
    /* background-image: url(../img/waterfire.jpg); */

    /* background-color: rgb(214, 15, 15); */



}
.outerali{
    background-image: url(../img/waterfire.jpg);
}
/* .texzt{
    background-color: rgba(255, 255, 255, 0.7117);
    padding: 1vw;
    padding-bottom: 0;
} */
.texzt{
    /* background-color: rgba(42, 161, 212, 0.712); */
    /* background: radial-gradient(azure,rgba(65, 105, 225, 0.395)); */
    /* background: radial-gradient(azure,rgba(162, 185, 255, 0.969)); */
    /* color: peachpuff; */
    background-color: rgba(0, 0, 0, 0.7117);
    padding: 1vw;
    padding-bottom: 0;
}
.texzt3{
    background-image: url(../img/eli9.jpg);
    padding: 1vw;
    padding-bottom: 0;
    color: azure;
}
.texzt3 p{
    /* background-image: url(../img/eli2.jpg); */
    padding: 1vw;
    padding-bottom: 0;
    color: azure;
}
.texzt4{
    background-color: rgb(0, 0, 0);
    padding: 1vw;
    padding-bottom: 0;
    color: wheat;
}
.texzt4 p{
    /* background-image: url(../img/eli2.jpg); */
    padding: 1vw;
    padding-bottom: 0;
    color: wheat;
}
.texzt2 p{
    animation: morpheus 8s infinite;
}
.texzt2 h3{
    color: wheat;
}
.texzt2{
    background-color: rgba(251, 197, 2, 0);
    /* background-color: rgba(255, 204, 0, 0.38); */
    padding: 1vw;
    padding-bottom: 0;
}
p a{
    text-shadow: none;
}
.texzt2 p{
    font-size: 20px;
    font-weight: bolder;
    color: wheat;
    text-shadow: black 1px 1px 7px;
}

.texzt117 p{
    animation: morpheus 8s infinite;
}
.texzt117 h3{
    color: wheat;
}
.texzt117{
    background-color: rgba(251, 197, 2, 0);
    background-image: url(../img/22.png);
    padding: 1vw;
    padding-bottom: 0;
}
.texzt117 p{
    font-size: 20px;
    font-weight: bolder;
    color: wheat;
    text-shadow: black 1px 1px 7px;
}

.texzt118 p{
    animation: morpheus 8s infinite;
}
.texzt118 h3{
    color: wheat;
}
.texzt118{
    background-color: rgba(251, 197, 2, 0);
    /* background-image: url(../img/spectrum\ copy.png); */
    background-image: url(../img/spectrum\ copy.png);
    padding: 1vw;
    padding-bottom: 0;
}

.texzt118 p{
    font-size: 20px;
    font-weight: bolder;
    color: wheat;
    text-shadow: black 1px 1px 7px;
}
.unifying{
    background-color: rgba(8, 3, 4, 0.568);
}

.texzt119 h3{
    color: wheat;
}
.texzt119{
    background-color: rgba(251, 197, 2, 0);
    /* background-image: url(../img/chessnow.jpg); */
    background-image: url(../img/wowtri.jpg);

    /* background-size: cover; */
    padding: 1vw;
    padding-bottom: 0;
}
.texzt119 p{
    font-size: 20px;
    font-weight: bolder;
    color: wheat;
    text-shadow: black 1px 1px 7px;
}
.texzt119 p{
    /* animation: morpheus 8s infinite; */
    color: white;
}
#left{
    /* background-color: purple; */
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: 100%;
    display: inline-block;
}
#right{
    color: orange;
    max-width: 100%;
    height: 100%;
    display: inline-block;
}
.feature{
    max-width: 100%;
}
#banner{
    background-color: rgba(0, 0, 0, 0.077);
    /* background-color: rgba(0, 0, 0, 0); */

    max-height: 50px;
}
#bannery{
    background-color: rgba(146, 25, 25, 0.116);
    max-height: 50px;
}
.parallax{
    background-image: url("../img/jag.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    max-width: 100%;
}
/* make shiny */
#cause{
    /* color: azure; */
/*    color: rgb(235, 172, 235);*/
    color: rgb(235, 117, 235);


    font-style: italic;
}
.parallaxnew{
    /* background-image: url("../img/ElamForever.png"); */
    background-image: url("../img/thedarkness.jpg");

    /* background-image: url("../img/Warilla.jpg"); */

    height: 100vw;
    background-attachment: fixed;
    background-position:  center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -200px;
    max-width: 100%;
    padding-top: 200px;
}
.parallaxlight{
    background-image: url("../img/ElamForever.png");
    /* background-image: url("../img/thedarkness.jpg"); */
    /* background-image: url("../img/Warilla.jpg"); */
    height: 100vw;
    background-attachment: fixed;
    background-position:  center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -200px;
    max-width: 100%;
    padding-top: 200px;
}
.delta{
    max-height: 200px;
    background-color: black;
    float: left;
    padding: 40px;
    margin: 30px;
}
.parallaxmew{
    /* background-image: url("../img/GoldElam.jpg"); */
    /* background-image: url("../img/Emerald.png"); */
    /* background-image: url("../img/emwhirl.png"); */
    background-image: url("../img/blendx.png");
    /* background-image: url("../img/dioxy.jpg"); */



    /* background-image: url("../img/LedgeofKnow.png"); */

    /* background-image: url("../img/EternalElam.png"); */


    height: 100vw;
    background-attachment: fixed;
    background-position:  center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -200px;
    max-width: 100%;
    padding-top: 200px;
}
.parallaxnewx{
    background-image: url("../img/zeus\ copy.jpg");
    /* background-image: url("../img/chosen.png"); */

    height: 100vw;
    background-attachment: fixed;
    background-position:  center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -200px;
    max-width: 100%;
    padding-top: 200px;
}

.parallaxxp{
    background-image: url("../img/worldball.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: 3ch top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    max-width: 100%;
}


.parallaxfeature{
    background-image: url("../img/mandalorian-tragedy.jpg");
    height: 90vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
    max-width: 100%;
}
.parallaxfeaturenew{
    background-image: url("../img/midj1.png");
    height: 90vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
    max-width: 100%;
}



.parallaxfeature2{
    background-image: url("../img/Meme.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
    max-width: 100%;
}
.parallaxfeature3{
    background-image: url("../img/keira.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}
.parallaxfeature3new{
    /* background-image: url("../img/darkcom.png"); */
    /* background-image: url("../img/godplustrim.png"); */
    background-image: url("../img/Warilla.jpg");

    height: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 100%;
}
.parallaxfeature4{
    background-image: url("../img/spidermaniron.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: black;
    padding: 1vw;
    border-radius: 1vw;
}

a:hover{
    color: gold;

}
p a{
    text-decoration: none;
    color: black;
    padding: 1.5vw;
    border-radius: 1vw;
    background-color: rgba(240, 248, 255, 0.704);
}

p a:hover{
    color: rgb(172, 141, 100);
    border: solid black .05vw;

}
.real a{
    text-decoration: none;
    color: gold;
    background-color: black;
    padding: 1vw;
    border-radius: 1vw;
}
.real a:hover{
    color: black;
}
.parallax2{
    background-image: url("../img/m.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3{
    background-image: url("../img/leojack.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.parallax3new{
    background-image: url("../img/jag.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.parallax4{
    background-image: url("../img/kong.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pad{
    padding: 1vw;
}
.parallax5{
    /* background-image: url("../img/The_One_TradingCard\ copy\ 3.jpg"); */
    /* background-image: url("../img/Avriel.jpeg"); */
    /* background-image: url("../img/angel.png"); */
    background-image: url("../img/Iridielle.jpg");

    /* background-image: url("../img/elamef.png"); */




    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.parallaxteroh{
    background-image: url("../img/think.png");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.parallax6{
    /* background-image: url("../img/dja.png"); */
    background-image: url("../img/tr.jpg");

    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.parallax7{
    background-image: url("../img/raichu.png");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax8{
    background-image: url("../img/pokemon.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax9{
    background-image: url("../img/goodjoker.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax10{
    background-image: url("../img/radiohead.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax11{
    background-image: url("../img/videos.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.devon{
    background-image: url("../img/schoolofrock.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ernie{
    /* background-image: url("../img/Elam11.29\ copy\ 2.jpg"); */
    /* background-image: url("../img/Elam117.png"); */
    background-image: url("../img/ElamForever.png");

    


    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.charlie{
    background-image: url("../img/queencheck.png");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.michael{
    background-image: url("../img/worldball.jpg");
    height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
}
.pikachu{
    color: orange;
}
p{
    /* color: rgba(24, 23, 23, 0.918); */
    color: wheat;
}
#elam{
    color: wheat;
}
#elam .cloudy{
    color: whitesmoke;
}
.team{
    padding: 1vw;
    color: gold;
}
.secret2{
    opacity: 0;
}
ul.nav-links.right{
    padding: 0;
    /* background-color: rgba(202, 232, 245, 0.316); */
    /* background: linear-gradient(#e66465, #9198e5); */
    background: linear-gradient(
        180deg,
        rgba(255, 0, 0, .7) 0%,
        rgba(255, 154, 0, .7) 10%,
        rgba(208, 222, 33, .7) 20%,
        rgba(79, 220, 74, .7) 30%,
        rgba(63, 218, 216, .7) 40%,
        rgba(47, 201, 226, .7) 50%,
        rgba(28, 127, 238, .7) 60%,
        rgba(95, 21, 242, .7) 70%,
        rgba(186, 12, 248, .7) 80%,
        rgba(251, 7, 174, 0.7) 90%,
        rgba(255, 0, 0, .7) 100%
    );
    padding: 2vw;
}
.wbc a{
    padding: .2vw;
}







.real a:hover{
    color: black;
}
.real a{
    background-color: black;
}
.impact{
    background-color: rgba(0, 0, 0, 0.637);
    color: gold;
    display: inline-block;
    border-radius: 1vw;
    padding: .5vw;
}
.impact2{
    /* background-color: rgba(0, 0, 0, 0.637); */
    color: gold;
    display: inline-block;
    border-radius: 1vw;
    padding: .5vw;
}
.impact:hover{
    color: rgb(189, 142, 189);
}
.impact a:hover{
    color: rgb(189, 142, 189);
    cursor: cell;

}
.question{
    background-color: red;
    color: white;
    display: inline-block;
    border-radius: 1vw;
    padding: .5vw;
}

.rank{
    margin: 0;
    padding: none;
    color: paleturquoise;
    background-color: black;
    padding: 1vw;
    border-radius: 1vw;
    opacity: .5;
}
.rank h1, h2, h3{
    display: inline-block;
    padding-right: 4vw;
    padding-top: none;
    padding-bottom: none;
    margin: none;
}
.rank h1{
    font-size: 10vw;
}
.record{
    font-family: cursive;
}

@keyframes truth {
    10%{
        opacity: .03;
    }
    25%{
        opacity: .2;
    }
    40%{
        opacity: .4;
    }
    50%{
        opacity: .5;
    }
    70%{
        opacity: .7;
    }
    100%{
        opacity: .85;
    }
}
.spx{
    display: inline-block;
}
#Lord{
    background-color: rebeccapurple;
}
.burger{
    opacity: .1;
    animation: truth 7s;
    animation-fill-mode: forwards;
}
.burger:hover{
    animation: none;
    opacity: 1;
}
.burger div{
    background-color: navajowhite;
    width: 34px;
    height: 6px;
    margin: 5px;
}
.burger2 div{
    background-color: rgb(177, 165, 165);
    width: 34px;
    height: 6px;
    margin: 5px;
}
.burger div:hover{
    background-color: white;
}
.super{
    display: none;
}
.perfect h2{
    font-size: xx-large;
}
ul{
    list-style: none;
}
ul a{
    /* cursor: cell; */
    cursor:crosshair;
    /* cursor:url('../img/mj3.png'), auto; */
    color: white;
}
@keyframes morpheus {
    10%{
        color: white;
    }
    25%{
        color: wheat;
    }
    40%{
        color: white;
    }
    50%{
        color: wheat;
    }
    70%{
        color: white;
    }
    100%{
        color: wheat;
    }
}
@keyframes bolt {
    10%{
        opacity: .5;
        color: turquoise;
    }
    25%{
        opacity: .5;
        color: gold;
    }
    40%{
        opacity: .4;
        color: aqua;
    }
    50%{
        opacity: .5;
        color: silver;
    }
    70%{
        opacity: .7;
        color: rgb(34, 130, 139);
    }
    100%{
        opacity: .85;
    }
}
@keyframes rainbow {
    10%{
        color: red;
    }
    20%{
        color: orange;
    }
    30%{
        color: gold;
    }
    40%{
        color: green;
    }
    50%{
        color:lightgreen;
    }
    60%{
        color: lightblue;
    }
    70%{
        color: rgb(116, 116, 254);
    }
    80%{
        color: rgb(89, 89, 254);
    }
    90%{
        color: wheat;
    }
}
.phil a{
    background-color: white;
    padding: 0;
    border-radius: 0;
    /* color: plum; */
    color: rgb(189, 142, 189);

}
#birds{
    background-color: rebeccapurple;
    padding: 1vw;
    border-radius: 1vw;
    color: whitesmoke;
}
.spxi{
    color: red;
    background-color: rgba(245, 245, 245, 0.777);
}
.spxi:hover{
    color: white;
    outline: red .2vw solid;
    background-color: black
}
ul a:hover{
    color: purple;
    animation: bolt 7s infinite;
}
.gold a{
    background-color: black;
}
.god{
    max-width: 90px;
}
h3 a{
    /* color: rgba(255, 0, 0, 0.837); */
    color: lightblue;

}
.specialty{
    color: rgb(54, 3, 54);
    display: inline-block;
}
h4{
    padding:0;
}
.royalty{
    color: rgb(189, 142, 189);
    display: inline-block;
    padding-left: 1.17vw;
}
.specialty a{
    color: gold;
}
.specialty a:hover{
    color: turquoise;
}
.sp:hover{
    color: gold;
}
.sp{
    color: aliceblue;
}
.song{
    max-width: 100%;
}
.song2{
    max-width: 100%;
    display: inline-block;
}



#rapper2{
    margin: 0 auto;
    /* background-image: url("/static/img/love.jpg"); */
    background-color: black;
    /* background-size: cover; */
    /* background-position: center; */
    background-repeat: no-repeat;
    padding-bottom: 1vw;
}



.transparent{
    opacity: .45;
    max-width: 100%;
    max-height: 400px;

}

@keyframes wbc {
    5%{
        opacity: 1;
    }
    33%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
    58%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    85%{
        opacity: 1;
    }
}
.red{
    /* border: 1vw solid red; */
    max-width: 100%;
    max-height: 400px;
}
.blue{
    max-width: 100%;
    max-height: 400px;
    opacity: 1;
    animation: wbc 10s infinite;
    border-bottom: 1ch solid black;
    border-top: 1ch solid black;

}
.bluer{
    max-width: 100%;
    max-height: 400px;
    opacity: 1;
    animation: wbc 10s infinite;
    /* border-bottom: 1ch solid black;
    border-top: 1ch solid black; */

}
/* a h3{
    text-decoration: none;
}
a h3:hover{
    color: gold;
} */
footer{
    text-decoration: none;
}
.aqua{
    max-width: 100%;
    max-height: 400px;
    opacity: 1;
    animation: wbc 10s infinite;
    border-bottom: 1ch solid black;
    border-top: 1ch solid black;

}

.green{
    max-width: 100%;
    max-height: 400px;
    opacity: 1;
    animation: wbc 10s infinite 3s;
    /* border-bottom: 1ch solid black; */
    /* border-top: 1ch solid black; */
}
.gxp{
    max-width: 100%;
    max-height: 400px;
    opacity: 1;
    animation: wbc 10s infinite 3s;
    border-bottom: 1ch solid blue;
    border-top: 1ch solid blue;
}
.gentleman{
    max-width: 100%;
    max-height: 400px;
    opacity: 1;
    animation: wbc 10s infinite 3s;
    border-bottom: 1ch solid black;
    border-top: 1ch solid black;
}
.purple{
    max-width: 100%;
    max-height: 400px;
    opacity: 1;
    animation: wbc 15s infinite 5s;
    border-bottom: 1ch solid black;
    border-top: 1ch solid black;
}
.pink{
    max-width: 100%;
    max-height: 400px;
    opacity: 1;
    animation: wbc 12s infinite 2s;
    border-bottom: 1ch solid black;
    border-top: 1ch solid black;
}
.yellow{
    max-width: 100%;
    max-height: 400px;
    opacity: 1;
    animation: wbc 8.5s infinite 2.5s;
    border-bottom: 1ch solid black;
    border-top: 1ch solid black;
}
.silver{
    max-width: 100%;
    max-height: 400px;
    opacity: 1;
    animation: wbc 11.5s infinite 12.5s;
    border-bottom: 1ch solid black;
    border-top: 1ch solid black;
}
.poke{
    max-width: 100%;
    max-height: 400px;
    opacity: 1;
    animation: wbc 21s infinite;
    border-bottom: 1ch solid black;
    border-top: 1ch solid black;
}
.spotsubmain{
    display:inline-block;
    /* border: .3vw solid gold; */
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
.rainbowfilm{
    max-width: 100%;
    background-image: url(../img/Aurora\ and\ Tigon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.tigon{
    max-width: 100%;
    max-height: 400px;
    opacity: 1;
    animation: wbc 11s infinite 3s;
    /* border-bottom: 1ch solid black; */
    /* border-top: 1ch solid black; */
}
.spotsubmainn{
    display:inline-block;
    /* border: .3vw solid gold; */
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
    background-image: url(../img/christ.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.spotsubmainn2{
    display:inline-block;
    /* border: .3vw solid gold; */
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
    background-image: url(../img/lightcom.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



.spotsubmainn223{
    display:inline-block;
    min-width: 220px;
    min-height: 210px;
    max-height: 400px;
    background-image: url(../img/lightcom.png);
    /* background-image: url(../img/oig2.jpeg); */

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.spotsubmainn8889{
    display:inline-block;
    min-width: 220px;
    min-height: 210px;
    max-height: 400px;
    /* background-image: url(../img/lightcom.png); */
    background-image: url(../img/vmanreal.png);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.spotsubmainn8899{
    display:inline-block;
    min-width: 220px;
    min-height: 210px;
    max-height: 400px;
    /* background-image: url(../img/lightcom.png); */
    background-image: url(../img/ElamForever.png);
    /* background-image: url(../img/automaticgun.jpg); */

    /* background-image: url(../img/EternalElam.png); */


    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.spotsubmainn999{
    display:inline-block;
    min-width: 220px;
    min-height: 210px;
    max-height: 400px;
    /* background-image: url(../img/lightcom.png); */
    /* background-image: url(../img/Tigon.png); */
    background-image: url(../img/craigteroh.png);


    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.orange2{
    max-width: 100%;
    max-height: 400px;
    opacity: 1;
    animation: wbc 11s infinite 1s;
}




.spotsubmain4{
    /* background-color: blue; */
    background-image: url(../img/coldwar.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display:inline-block;
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
.spotsubmain1300{
    /* background-color: blue; */
    background-image: url(../img/matrix.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display:inline-block;
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
/* background of blue animation is awesome */
.spotsubmain3{
    /* background-color: blue; */
    background-image: url(../img/m.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display:inline-block;
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
.spotsubmain117{
    /* background-color: blue; */
    background-image: url(../img/BUSINESSblog.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display:inline-block;
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
.spotsubmain118{
    background-image: url(../img/dk.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display:inline-block;
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
.spotsubmain5{
    /* background-color: blue; */
    background-image: url(../img/yes.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display:inline-block;
    background-position: center;

    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
.spotsubmain6{
    /* background-color: blue; */
    background-image: url(../img/worldball.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display:inline-block;
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
.spotsubmain7{
    /* background-color: blue; */
    background-image: url(../img/mad.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display:inline-block;
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
.spotsubmain8{
    /* background-color: blue; */
    background-image: url(../img/mew.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display:inline-block;
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
.spotsubmain9{
    /* background-color: blue; */
    background-image: url(../img/musical.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display:inline-block;
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
@keyframes elam {
    25%{
        border-color: aliceblue;
    }
    50%{
        border-color: navy;
    }
    75%{
        border-color: chartreuse;
    }
}
.spotsubmainvid{
    display:inline-block;
    border: .3vw solid gold;
    animation: elam 7s infinite;
    min-width: 290px;
    min-height: 210px;
    max-height: 600px;
    max-width: 600px;
}
.picnew{
    max-width: 100%;
    max-height: 100%;
}
.picmain{
    max-width: 100%;
    max-height: 590px;
}
.spotsubmain2{
    display:block;
    /* border: .3vw solid blue; */
    min-width: 290px;
    min-height: 210px;
    /* min-width: 20vw; */
    /* height: 11vw; */
    max-height: 590px;
}
.bigguy{
    display:block;
    min-width: 290px;
    min-height: 210px;
    max-height: 590px;
}
.xpp{
    /* background-color: blue; */
    background-image: url(../img/coldwar.jpg);
    background-size: contain;
    display:inline-block;
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
#main{
    /* border: 1vw dotted pink; */
    max-width: 100%;
    text-align: center;
}
#main2{
    /* border: 1vw dotted pink; */
    max-width: 100%;
    text-align: center;
}
#main3{
    /* border: 1vw dotted pink; */
    max-height: 100%;
    max-width: 100%;
    text-align: center;
}
#footer{
    text-align: center;
}
/* h3{
    color: aquamarine;
} */




#rapper3{
    margin: 0 auto;
    /* background-image: url("/static/img/love.jpg"); */
    background-color: black;
    /* background-size: cover; */
    /* background-position: center; */
    background-repeat: no-repeat;
    padding-bottom: 1vw;
}

.red{
    /* border: 1vw solid red; */
    max-width: 100%;
    max-height: 400px;
}
.blue{
    max-width: 100%;
    max-height: 400px;
    opacity: 1;
    animation: wbc 10s infinite;
    border-bottom: 1ch solid black;
    border-top: 1ch solid black;

}
.aqua{
    max-width: 100%;
    max-height: 400px;
    opacity: 1;
    animation: wbc 10s infinite;
    border-bottom: 1ch solid black;
    border-top: 1ch solid black;

}
.orange{
    max-width: 100%;
    max-height: 400px;
    opacity: 1;
    animation: wbc 11s infinite 1s;
    border-bottom: 1ch solid black;
    border-top: 1ch solid black;
}

/* .green{
    max-width: 100%;
    max-height: 400px;
    opacity: 1;
    animation: wbc 10s infinite 3s;
    border-bottom: 1ch solid black;
    border-top: 1ch solid black;
} */
.purple{
    max-width: 100%;
    max-height: 400px;
    opacity: 1;
    animation: wbc 15s infinite 5s;
    border-bottom: 1ch solid black;
    border-top: 1ch solid black;
}
.pink{
    max-width: 100%;
    max-height: 400px;
    opacity: 1;
    animation: wbc 12s infinite 2s;
    border-bottom: 1ch solid black;
    border-top: 1ch solid black;
}
.yellow{
    max-width: 100%;
    max-height: 400px;
    opacity: 1;
    animation: wbc 8.5s infinite 2.5s;
    border-bottom: 1ch solid black;
    border-top: 1ch solid black;
}
.silver{
    max-width: 100%;
    max-height: 400px;
    opacity: 1;
    animation: wbc 11.5s infinite 12.5s;
    border-bottom: 1ch solid black;
    border-top: 1ch solid black;
}
.poke{
    max-width: 100%;
    max-height: 400px;
    opacity: 1;
    animation: wbc 21s infinite;
    border-bottom: 1ch solid black;
    border-top: 1ch solid black;
}
.spotsubmain888{
    display:inline-block;
    /* border: .3vw solid gold; */
    background-image: url(../img/GoldElam.jpg);
    background-position: center;
    background-size: cover;
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}

.sss a{
    padding: 0;
    background-color: none;
    color: purple;
    border-radius: 0;
}
.spotsubmain4888{
    /* background-color: blue; */
    background-image: url(../img/dj2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display:inline-block;
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
/* background of blue animation is awesome */
.spotsubmain3888{
    /* background-color: blue; */
    /* background-image: url(../img/penthousebeach.jpg); */
    background-image: url(../img/wbc.jpeg);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display:inline-block;
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
.spotsubmain117888{
    /* background-color: blue; */
    background-image: url(../img/BUSINESSblog.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display:inline-block;
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
.spotsubmain118888{
    background-image: url(../img/alvin.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display:inline-block;
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
.spotsubmain5888{
    /* background-color: blue; */
    background-image: url(../img/robinhood.png);
    background-size: contain;
    background-repeat: no-repeat;
    display:inline-block;
    background-position: center;

    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
.spotsubmain6888{
    /* background-color: blue; */
    background-image: url(../img/worldball.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display:inline-block;
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
.spotsubmain667888{
    /* background-color: blue; */
    background-image: url(../img/worldball.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display:inline-block;
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
.spotsubmain7888{
    /* background-color: blue; */
    background-image: url(../img/mad.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display:inline-block;
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
.spotsubmain8888{
    /* background-color: blue; */
    background-image: url(../img/guitarback.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display:inline-block;
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
.spotsubmain9888{
    /* background-color: blue; */
    background-image: url(../img/musical.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display:inline-block;
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
@keyframes elam {
    25%{
        border-color: aliceblue;
    }
    50%{
        border-color: navy;
    }
    75%{
        border-color: chartreuse;
    }
}
.spotsubmainvid{
    display:inline-block;
    border: .3vw solid gold;
    animation: elam 7s infinite;
    min-width: 290px;
    min-height: 210px;
    max-height: 600px;
    max-width: 600px;
}
.spotsubmain2888{
    display:block;
    /* border: .3vw solid blue; */
    min-width: 290px;
    min-height: 210px;
    /* min-width: 20vw; */
    /* height: 11vw; */
    max-height: 590px;
}
.bigguy{
    display:block;
    min-width: 290px;
    min-height: 210px;
    max-height: 590px;
}
.xpp{
    /* background-color: blue; */
    background-image: url(../img/coldwar.jpg);
    background-size: contain;
    display:inline-block;
    min-width: 290px;
    min-height: 210px;
    max-height: 400px;
}
#main{
    /* border: 1vw dotted pink; */
    max-width: 100%;
    text-align: center;
}
#main2{
    /* border: 1vw dotted pink; */
    max-width: 100%;
    text-align: center;
}
#main3{
    /* border: 1vw dotted pink; */
    max-height: 100%;
    max-width: 100%;
    text-align: center;
}
.vid{
    max-width: 100%;
}
#footer{
    text-align: center;
}
#footer h3{
    color: aquamarine;
}
#footer h3 #crazy{
    color: black;
}
#crazy{
    color: black;
}



div#tetrahedron {
    position: absolute;
    top: 117px;
    left: 50%;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg)
        translateX(0px) translateY(0px) translateZ(0px)
        scale3d(1, 1, 1);
    width: 100px;
    height: 87px;
    /* background-color: rgba(255, 192, 203, 0.527); */

    animation: rotateanimation 5s infinite linear;
}


div#tetrahedron > div > svg > polygon{
    fill: #fff;
    stroke: #000;
    stroke-width: 3px;
    opacity: 0.9;
}
div#tetrahedron > div{
    transform-origin: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 87px;
    backface-visibility: visible;
}
div#tetrahedron > div.bottom {
    transform: rotateX(-90deg) translateZ(43.5px);
}
div#tetrahedron > div.left {
    transform-origin: 50% 100% 0;
    transform: translateX(-25px) rotateY(-60deg) rotateX(19.49deg);
}
div#tetrahedron > div.right {
    transform-origin: 50% 100% 0;
    transform: translateX(25px) rotateY(60deg) rotateX(19.49deg);
}
div#tetrahedron > div.back {
    transform-origin: 50% 100% 0;
    transform: translateZ(-43.5px) rotateX(-19.49deg);
}

@keyframes rotateanimation{
    0%{
        transform: rotateY(0deg) rotateY(0deg);
    }
    50%{
        transform: rotateX(0deg) rotateY(-180deg);
    }
    100%{
        transform: rotateX(0deg) rotateY(-360deg);
    }
}
.chief2{
    border-radius: 200%;
    border: solid rgba(254, 254, 24, 0.827) 8px;
    transform: rotateX(88deg) scale(.67);
    
}
#descsong p{
    color: pink;
    font-style: italic;
    display: inline-block;
    padding: 0;
    margin: 1.7vw;
}
.perplex a{
    padding: .4vw;
}
.perplex2 a{
    padding: .4vw;
}


.teroh0{
    /* background-image: url("../img/EternalElam.png"); */
    background-image: url("../img/ElamForever.png");

    /* background-image: url("../img/Tigon.png"); */

    height: 100vw;
    background-attachment: fixed;
    background-position:  center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -200px;
    max-width: 100%;
    padding-top: 200px;
}
.teroh1{
    /* background-image: url("../img/sensa.jpeg"); */
    background-image: url("../img/Aurora\ and\ Tigon.png");
    /* background-image: url("../img/ElamForever.png"); */

    /* background-image: url("../img/HaloBeautiful\ copy.png"); */
    /* background-image: url("../img/wartri.jpeg"); */

    height: 100vw;
    background-attachment: fixed;
    background-position:  center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -200px;
    max-width: 100%;
    padding-top: 200px;
}
.teroh2{
    /* background-image: url("../img/sensa.jpeg"); */
    /* background-image: url("../img/wa.jpeg"); */
    /* background-image: url("../img/craigteroh.png"); */
    background-image: url("../img/purrple.png");

    /* background-image: url("../img/wartri.jpeg"); */

    height: 100vw;
    background-attachment: fixed;
    background-position:  center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -200px;
    max-width: 100%;
    padding-top: 200px;
}
.teroh3{
    /* background-image: url("../img/sensa.jpeg"); */
    /* background-image: url("../img/wa.jpeg"); */
    /* background-image: url("../img/HaloBeautiful\ copy.png"); */
    /* background-image: url("../img/think.png"); */
    /* background-image: url("../img/kmax.png"); */
    background-image: url("../img/ElamForever.png");



    height: 100vw;
    background-attachment: fixed;
    background-position:  center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -200px;
    max-width: 100%;
    padding-top: 200px;
}
.teroh4{
    /* background-image: url("../img/sensa.jpeg"); */
    /* background-image: url("../img/wa.jpeg"); */
    /* background-image: url("../img/HaloBeautiful\ copy.png"); */
    /* background-image: url("../img/wartri.jpeg"); */
    background-image: url("../img/LedgeofKnow.png");

    height: 100vw;
    background-attachment: fixed;
    background-position:  center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -200px;
    max-width: 100%;
    padding-top: 200px;
}
.teroh5{
    /* background-image: url("../img/sensa.jpeg"); */
    /* background-image: url("../img/wa.jpeg"); */
    /* background-image: url("../img/HaloBeautiful\ copy.png"); */
    /* background-image: url("../img/wartri.jpeg"); */
    background-image: url("../img/EternalElam.png");

    height: 100vw;
    background-attachment: fixed;
    background-position:  center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -200px;
    max-width: 100%;
    padding-top: 200px;
}
.teroh6{
    background-image: url("../img/panthos.png");
    height: 100vw;
    background-attachment: fixed;
    background-position:  center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -200px;
    max-width: 100%;
    padding-top: 200px;
}

/* 1366px */
@media only screen and (max-device-width: 1117px) {
    ul.nav-links.right{
        /* background-color: rgba(202, 232, 245, 0.316); */
        /* background: linear-gradient(#e66465, #9198e5); */
        background: linear-gradient(
            180deg,
            rgba(255, 0, 0, .6) 0%,
            rgba(255, 154, 0, .6) 10%,
            rgba(208, 222, 33, .6) 20%,
            rgba(79, 220, 74, .6) 30%,
            rgba(63, 218, 216, .6) 40%,
            rgba(47, 201, 226, .6) 50%,
            rgba(28, 127, 238, .6) 60%,
            rgba(95, 21, 242, .6) 70%,
            rgba(186, 12, 248, .6) 80%,
            rgba(251, 7, 174, 0.6) 90%,
            rgba(255, 0, 0, .6) 100%
        );
        padding: 2vw;
    }
    #desktoponly{
        display: none;
    }
    ul.nav-links.right li{
        padding: 0;
    }
    #specialx{
        /* background-color: rgba(255, 217, 0, 0.654); */
        /* background-color: rgba(255, 217, 0, 0.514); */

        line-height: 8vw;
    }
    .pika{
        /* background-color: cyan; */
        padding: .3vw;
        margin: 1vw;
/*        background-color: rgba(203, 135, 235, 0.711);*/
        background-color: blue;

        /* background-color: rgba(0, 0, 0, 0.886); */
    }
    .bulba{
        padding: .7vw;
        margin: 1vw;
        background-color: blanchedalmond;
    }
    p a{
        text-decoration: none;
        padding: .9vw;
        border-radius: 2vw;

        text-decoration: none;
        color: black;
        background-color: rgba(240, 248, 255, 0.704);
    }
    .delta{
        background-color: black;
        display: block;
        float: none;
    }
    .secret2{
        opacity: 1;
    }
    .burger{
        /* display: flex; */
        float: right;
    }
    ul{
        /* display: flex; */
        max-width: 70%;
        background-color: black;

        /* background-color: white; */

        /* float: left; */
        overflow: auto;
    }
    ul li{
        color: azure;


        padding: 0;
        /* display: inline-block; */
        padding-left: 0;
    }
    .parallax {
      background-attachment: scroll;
      background-size: cover;
      /* background-position: -200px; */
      background-position: -117px;
      background-image: url("../img/jag.jpg");
    }

    .parallaxnew {
        background-attachment: scroll;
        background-size: cover;
        margin-top: 20px;
      }
      .parallaxlight {
        background-attachment: scroll;
        background-size: cover;
        margin-top: 20px;
      }

    .teroh0 {
        background-attachment: scroll;
        background-size: cover;
        /* background-position: -31px; */
        margin-top: 20px;
      }
    .teroh1 {
        background-attachment: scroll;
        background-size: cover;
        background-position: -117px;
        margin-top: 20px;
      }
    .teroh2 {
        background-attachment: scroll;
        background-size: cover;
        background-position: -71px;

        margin-top: 20px;
      }
    .teroh3 {
        background-attachment: scroll;
        background-size: cover;
        /* background-position: -31px; */
        margin-top: 20px;
      }
    .teroh4 {
        background-attachment: scroll;
        background-size: cover;
        /* background-position: -31px; */
        margin-top: 20px;
      }
      .teroh5 {
        background-attachment: scroll;
        background-size: cover;
        /* background-position: -300px; */
        margin-top: 20px;
      }
      .teroh6 {
        background-attachment: scroll;
        background-size: cover;
        /* background-position: -31px; */
        margin-top: 20px;
      }

      .parallaxmew {
        background-attachment: scroll;
        background-size: cover;
        /* background-position: -200px; */
        background-position: -402px;
        /* background-image: url("../img/cloudland5.png"); */
        background-image: url("../img/emwhirl.png");

        /* background-image: url("../img/promptos.png"); */

        margin-top: 20px;

      }

      .parallaxnewx {
        background-attachment: scroll;
        background-size: cover;
        background-position: 0px;
        margin-top: 20px;
      }
    .parallaxfeature{
        background-attachment: scroll;
        background-position: -100px;
    }
    .parallaxfeaturenew{
        background-attachment: scroll;
    }
    .parallaxfeature3new{
        background-attachment: scroll;
    }
    .parallaxfeature2{
        background-attachment: scroll;
    }
    .parallaxfeature3{
        background-attachment: scroll;
    }
    .parallaxfeature4{
        background-attachment: scroll;
    }
    .parallax2 {
        background-attachment: scroll;
      }
      .parallax3 {
        background-attachment: scroll;
      }
      .parallax3new {
        background-attachment: scroll;
      }
      .parallax4 {
        background-attachment: scroll;
      }
      .parallax5 {
        background-attachment: scroll;
        background-size: cover;
        zoom:117%;
      }
      .parallaxteroh{
        background-attachment: scroll;
        background-size: cover;
      }
      .parallax6 {
        background-attachment: scroll;
      }
      .parallax7 {
        background-attachment: scroll;
        background-image: url("../img/raichu.png");

      }
      .parallax8 {
        background-attachment: scroll;
      }
      .parallax9 {
        background-attachment: scroll;
      }
      .parallax10 {
        background-attachment: scroll;
      }
      .parallax10 {
        background-attachment: scroll;
        background-size: contain;
      }
      .parallax11 {
        background-attachment: scroll;
      }
      .devon {
        background-attachment: scroll;
      }
      .ernie{
        background-attachment: scroll;
        background-size: cover;
        /* background-image: url("../img/Elam11.29.jpg"); */
      }
      .charlie{
        background-attachment: scroll;
    }
    .michael{
        background-attachment: scroll;
    }
      .secret{
          display: none;
      }
        /* .picalu{
            max-width: 100%;
            height: 87px;
        }
        .picalu2{
            max-width: 100%;
            height: 87px;
        } */
    }
  .kirby a{
    /* color: pink; */
    /* background-color: black; */
    padding: none;
}








.emergency{
    color: wheat;
}

.king a{
    text-decoration: none;
    background-color: unset;
    padding: none;
    color: wheat;
    margin: 0;
    border-radius: unset;
    font-size: larger;
}
.king a:hover{
    text-decoration: none;
    background-color: rgb(238, 130, 238, .717);
    padding: none;
    color:wheat;
    margin: 0;
    border-radius: unset;
    font-size: larger;
}
.king .cloudy{
    color: azure;
}

.innertextx{
    background-image: url(../img/perf2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    padding-left: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.innertextx p{
    color: black;
}
.insane{
    color: wheat;
}
.insane a{
    background-color: transparent;
/*    color: rgb(172, 141, 100);*/
    color: azure;

    padding: 0;
    border-radius: 0;
}
.insane a:hover{
    color: blue;
    background-color: azure;
    padding: 1vw;
    border-radius: 1vw;
}
.sane a{
    background-color: transparent;
/*    color: rgb(172, 141, 100);*/
    color: blue;

    padding: 0;
    border-radius: 0;
}
.sane a:hover{
    color: red;
}
ul{
    color: white;
}
.d{
    color: wheat;
}
.pic{
    max-width: 100%;
}