.pix{
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
.pixsmall{
    max-width: 100%;
    margin: 0 auto;
    display: block;
    max-height: 600px;
}
.pix2{
    max-width: 100%;
    margin: 0 auto;
    display: block;
    opacity: .01;
}
html,body{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
}
html{
    text-align: center;
    background-image: url("../img/cloud.jpg");
    /* background-image: url("../img/Cloudland_TradingCard\ copy\ 6.jpg"); */

    background-size: contain;
}
.tiny{
    max-width: 200px;
    max-height: 50px;
    float: left;
}
#banner{
    background-color: black;
    max-height: 50px;
}
@media only screen and (max-device-width: 1117px) {
    .secret2{
        opacity: 1;
    }
    .burger{
        display: flex;
        float: none;
    }
    .tiny{
        float: left;
    }
}
.perfect{
    color: orchid;
    font-size: 32;
}
p{
    color: white;
    font-size: 32px;
}
.song{
    max-width: 50%;
}
.truth{
    background-color: black;
    color: plum;
}