*{
    margin: 0px;
    padding: 0px;
}
div#tetrahedron {
    position: absolute;
    top: 100px;
    left: 100px;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg)
        translateX(0px) translateY(0px) translateZ(0px)
        scale3d(1, 1, 1);
    width: 100px;
    height: 87px;

    animation: rotateanimation 5s infinite linear;
}
div#tetrahedron > div > svg > polygon{
    fill: #fff;
    stroke: #000;
    stroke-width: 3px;
    opacity: 0.9;
}
div#tetrahedron > div{
    transform-origin: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 87px;
    backface-visibility: visible;
}
div#tetrahedron > div.bottom {
    transform: rotateX(-90deg) translateZ(43.5px);
}
div#tetrahedron > div.left {
    transform-origin: 50% 100% 0;
    transform: translateX(-25px) rotateY(-60deg) rotateX(19.49deg);
}
div#tetrahedron > div.right {
    transform-origin: 50% 100% 0;
    transform: translateX(25px) rotateY(60deg) rotateX(19.49deg);
}
div#tetrahedron > div.back {
    transform-origin: 50% 100% 0;
    transform: translateZ(-43.5px) rotateX(-19.49deg);
}

@keyframes rotateanimation{
    0%{
        transform: rotateY(0deg) rotateY(0deg);
    }
    50%{
        transform: rotateX(360deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(360deg) rotateY(360deg);
    }
}
.xp{
    text-align: center;
}

div#tetrahedron2 {
    position: absolute;
    top: 300px;
    left: 300px;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg)
        translateX(0px) translateY(0px) translateZ(0px)
        scale3d(1, 1, 1);
    width: 100px;
    height: 87px;

    animation: rotateanimation2 5s infinite linear;
}
div#tetrahedron2.xy {
    position: absolute;
    top: 300px;
    left: 300px;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg)
        translateX(0px) translateY(0px) translateZ(0px)
        scale3d(1, 1, 1);
    width: 100px;
    height: 87px;

    animation: rotateanimation 5s infinite linear;
}
div#tetrahedron2 > div > svg > polygon{
    fill: #fff;
    stroke: #000;
    stroke-width: 3px;
    opacity: 0.9;
}
div#tetrahedron2 > div{
    transform-origin: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 87px;
    backface-visibility: visible;
}
div#tetrahedron2 > div.bottom {
    transform: rotateX(-90deg) translateZ(43.5px);
}
div#tetrahedron2 > div.left {
    transform-origin: 50% 100% 0;
    transform: translateX(-25px) rotateY(-60deg) rotateX(19.49deg);
}
div#tetrahedron2 > div.right {
    transform-origin: 50% 100% 0;
    transform: translateX(25px) rotateY(60deg) rotateX(19.49deg);
}
div#tetrahedron2 > div.back {
    transform-origin: 50% 100% 0;
    transform: translateZ(-43.5px) rotateX(-19.49deg);
}
@keyframes rotateanimation2{
    0%{
        /* transform: rotateY(0deg) rotateY(0deg); */
        opacity: .5;
    }
    50%{
        /* transform: rotateX(360deg) rotateY(0deg); */
    }
    100%{
        /* transform: rotateX(360deg) rotateY(360deg); */
    }
}
.xy{
    background-color: green;
    padding: 5vw;
    animation: rotateanimation 5s infinite linear;
}