.newsfeed{
    height: 85ch;
    background-color: blue;
    color: whitesmoke;
    overflow: auto;
    display: inline-block;
    max-width: 47vw;
    padding: .5vw;
}
.newsfeed2{
    height: 85ch;
    background-color: red;
    overflow: auto;
    display: inline-block;
    max-width: 47vw;
    padding: .5vw;
}
html,body{
    padding: 0;
    margin: 0;
}
.pic{
    max-width: 100%;
}
#rapper{
    margin: 0 auto;
    padding: .5vw;
    width: 100%;
    text-align: center;
}
p{
    padding: .5vw;
}
a{
    text-decoration: none;
    color: red;
}
a:hover{
    text-decoration: none;
    color: rebeccapurple;
}