body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.image-full {
    width: 100%;
    height: auto;
    display: block;
}
.image-smaller {
    max-width: 100%;
    width: 50%;
    height: auto;
    float: left;
}
.story-section {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
}
.story-section:nth-of-type(odd) {
    background: #eaeaea;
}
.story-text {
    margin-bottom: 20px;
}
.end{
    text-align: center;
}
.audio-player {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.play-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    transition: color 0.3s ease;
}

.play-button::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
    border-radius: 5px;
    background-size: 300% 300%;
    animation: rainbow 3s ease infinite;
    transition: opacity 0.3s ease;
}
a{
    text-decoration: none;
    display: inline-block;
}
a:hover{
    color: plum;
}
@keyframes rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.play-button:hover::after {
    opacity: 0.7;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}
