*{
    font-family: 'Spectral', serif;
}
html, body{
    margin: 0;
    padding: 0;
}
.vid{
    max-width: 100%;
    width: 600px;
}
#heading{
    text-align: center;
    
}
#collage{
    height: auto;
    width: 100%;
}
#reviews h2{
    text-align: center;
}
#rapper{
    margin: 0 auto;
    padding-top: 2px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    background-image: url("../img/ucsc.jpg");
    background-size: contain;
    height: 1000px;
}
#rapper a{
    color: plum;
    background-color: rgba(0, 0, 0, 0.315);
    padding: 1vw;
    border-radius: 1vw;
}
.option{
    display: inline-block;
    padding: 1vw;
}
#nav{
    background-color: rgba(92, 43, 226, 0.363);
    width: 100%;
}
a{
    text-decoration: none;
    color: rgb(57, 46, 207);
    
}
a:hover{
    color: gold
}
#nav a:hover{
    color: black;
    font-weight: bold;
}
.current{
    font-weight: bold;
}
#poem{
    text-align: center;
}
#nav{
    text-align: center;
}
.pic{
    max-width: 100%;
}